<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <div class="div_form">
		
		

		<form>
			
			<label for ="Nombre">Nombre</label>
			<input type="text" id="nombre" placeholder="Escriba su nombre">

			<label for ="email">Correo electronico</label>
			<input type="email" id="email" placeholder="Escriba su correo electronico">

			<input type="submit" value="Enviar">

		</form>

	</div>

</body>

</html>